*{
    margin: 0;
    padding: 0;
    @import url(https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap);
    font-family: "Montserrat", sans-serif;
}

#header{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(238, 191, 181);
    padding-bottom: 1.5rem;
}

#header__logo{
    max-width: 700px;
}

#header__nav{
    display: flex;
    justify-content: center;
}

#header__nav ul{
    display: none;
}

#header__nav ul.show{
    display: inline;
}


#header__nav li{
    list-style-type: none;
    padding: .8rem 0 0 0;
    font-weight: 600;
    font-size: 1rem;

}

#header__nav li a{
    text-decoration: none;
    color: #1c2542;
    transition: all 0.2s linear;
}

#header__nav li a:hover{
    color: rgb(242, 229, 229);
}

#header__icono{
    font-size: 20px;
    color: #1c2542;
    align-self: center;
    justify-self: center;
    display: block;
    cursor: pointer;
}

#section__nosotros{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: rgb(245, 245, 245);
    background-image: linear-gradient(rgba(245,245,245,.8), rgba(245,245,245,.8)), url(./imagenes/10.png);
    background-size: contain;
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #1c2542;
}

#section__nosotros__titulo{
    margin: 1.5rem auto;
    font-size: 2rem;
}

#section__nosotros__subtitulo{
    margin: 1.5rem auto;
    font-size: 1.7rem; 
    font-weight: 600;
    font-style: italic;
}

#section__nosotros p{
    font-size: 1.2rem;
    margin: .5rem;
    line-height: 1.8rem;
}

#section__servicios{
    background-color: rgba(238, 191, 181, .5);
}

#section__servicios__contenedor{
    display: grid;
    grid-template-columns: 1fr;
    grid-row-gap: 20px;
    text-align: center;
    padding: 2rem;

}

#section__servicios__link{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: solid  rgba(28, 37, 66, .7);
    background-color: whitesmoke;
    color: #1c2542;
    padding: 2rem 0;
}

#section__servicios__link h3{
    font-size: 1.7rem;
}

#section__servicios__link p{
    width: 80%;
    font-size: 1.1em;
    padding: 1rem 0;
}

#section__servicios__foto{
    width: 80%;
    height: 80%;
    padding: 2rem;
    border-radius: 40px;
}

#section__servicios__boton{
    text-decoration: none;
    color: whitesmoke;
    background-color: rgb(238, 191, 181);
    padding: .7rem;
    border-radius: 2rem;
}

#section__contacto{
    display: grid;
    justify-content: center;
    justify-items: center;
    background-color: #1c2542;
    padding-bottom: 2rem;


}

#section__contacto__titulo{
    color: whitesmoke;
    padding: 2rem;
    font-size: 2rem;
    text-align: center;

}

#section__contacto__formulario{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 2rem;
    background-color: whitesmoke;
    color: #1c2542;
    font-weight: 600;
    width: 60vw;

}

#section__contacto__formulario label{
    padding: .4rem  0 1rem 0;
    margin-left: .6rem;
}

#section__contacto__formulario input, #section__contacto__textArea{
    line-height: 1.8rem;
    border-radius: 15px;
    font-size: 1.2rem;
    padding: .4rem 0 .4rem .7rem;
    border: none;
    outline: none;
}

#section__contacto__formulario input:focus{
    box-shadow: 2px -2px rgba(238, 191, 181, .5);
    transition: .3s linear;
}


#section__contacto__botones{
    align-self: left;
    text-align: left;
    width: 50%;
    margin-top: .7rem;
    font-weight: 600;
    background-color: rgba(238, 191, 181, .5);
}

#section__contacto__botones:hover{
    cursor: pointer;
    box-shadow: 3px -2px rgba(28, 37, 66, .7);
}


footer{
    background-color:rgb(245, 245, 245);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;

}

footer h1{
    padding: 1rem;
}

footer h2{
    padding: .5rem 0 2rem 0;
}

#footer__info{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: .4rem;
}

#footer__info i{
    margin-right: 6px;
}

#botones__fijos{
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 15px;
    bottom: 20px;
    background-color: rgb(211, 211, 211);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    font-size: 30px;
}

#botones__fijos i{
    color: #1c2542;
}



@media (min-width: 700px) {
    #header{
        align-items: center;
        padding-bottom: 2rem;
    }
    #header__logo{
        max-width: 1200px;
        max-height: 500px;
    }

    #header__nav ul{
        display: inline;
    }
    
    
    #header__nav li{
        display: inline;
        padding: 2rem;
        font-weight: 600;
        font-size: 1.5em;
        }

    #header__icono{
        display: none;
    }
}